.cardProducto {
    width: 18rem;
    margin: 4px;
    background-color: hsl(0, 0%, 97%);
}

.cardBody {
    background-color: white;
    margin-bottom: 3px;
    text-align: center;
}

img {
    margin-top:3px;
}

.cardProductos {
    margin: 4px;
    align-items:center;
    justify-content: center;
}

.cartWidget {
    position: relative;
    left: 33%;
    color:white;
}

.cantCarrito {
    position: relative;
    left: 13%;
}