.cartWidget {
    position: relative;
    left: 33%;
    color:white;
}

.cantCarrito {
    position: relative;
    left: 13%;
}

.cardProducto {
    width: 18rem;
    margin: 4px;
}

.cardProductos {
    margin: 4px;
    align-items: center;
    justify-content: center;
}